Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

ans-(i)

In [4]:

Mystring="I am a entry level Data Science Student"
print(Mystring)

I am a entry level Data Science Student

ans-(ii)

In [5]:
myList = ["one", 11, "Two", 23.9, "Three"];
print(myList);

['one', 11, 'Two', 23.9, 'Three']

ans=(iii)

In [9]:
this_is_a_float = 17.8954
print(this_is_a_float)

17.8954

ans=(iv)

In [13]:
t1 = (3.14)
 print(t1)

IndentationError: unexpected indent (1875128327.py, line 2)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ans-(i)

In [ ]:
str

ans-(ii)

In [ ]:
list

ans-(iii)

In [ ]:
list

ans - (iv)

In [ ]:
int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

ans-(i)
      / is Division Method
ans-(ii)
      % is for modulus calculus
ans-(iii)
      // is for floor division 
ans-(iv)
      ** is for exponentiation

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
#ans --->

In [22]:
my_list = [8, "Data_science", 9.19, True, [1, 2, 3], {"name": "Pomesh", "age": 25}, 'Entry level' , (1, 2)]

# Using for loop to print each element and its data type
for item in my_list:
    print(f"{item}: {type(item)}")

8: <class 'int'>
Data_science: <class 'str'>
9.19: <class 'float'>
True: <class 'bool'>
[1, 2, 3]: <class 'list'>
{'name': 'Pomesh', 'age': 25}: <class 'dict'>
Entry level: <class 'str'>
(1, 2): <class 'tuple'>

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans - Mutable --It Allow their values to be modified after they are created.
                When you modify a mutable object, you are changing the same object in memory
                rather than creating a new one.
        e.g. --a. list
               b. dict
               c. set
      Immutable -- Immutable data types are those whose values cannot be changed after they are created. 
                   Any attempt to modify the data results in the creation of a new object with the updated value.
        e.g. -- a. int
                b. float
                c. str
                d. tuple1

In [ ]:
Q.6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans.6.

my_list = [1, 3, 5, 7, 9, 22, 18, 9, 10, 27, 36, 4, 15, 21, 33, 2, 6, 42, 17, 25, 11, 39, 20, 14, 3]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")