Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

ans-(i)

In [4]:

Mystring="I am a entry level Data Science Student"
print(Mystring)

I am a entry level Data Science Student

ans-(ii)

In [5]:
myList = ["one", 11, "Two", 23.9, "Three"];
print(myList);

['one', 11, 'Two', 23.9, 'Three']

ans=(iii)

In [9]:
this_is_a_float = 17.8954
print(this_is_a_float)

17.8954

ans=(iv)

In [13]:
t1 = (3.14)
 print(t1)

IndentationError: unexpected indent (1875128327.py, line 2)